.footer {
    bottom: 0;
    width: 100vw;
    display: flex;
    font-size: 13px;
    padding-left: 0px;
    color: rgb(154, 135, 135);
}

.footer p {
    margin: 0 0.4rem;
    color: rgb(255, 255, 255);
}